.container {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  background-color: bisque;
  padding: 20px;
}
h1 {
  text-align: center;
  padding: 20px;
}
.button {
  margin-left: 180px;
}
.table {
  background-color: bisque;
  width: 700px;
  float: right;
  position: absolute;
  top: 100px;
  right: 100px;
}
